{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Dashboard</title>
</head>
<body>
  <div class="container">
        <div class="row">
          {% if courses %}
          {% for course in courses %}
          <div class="col-sm-3 mt-3">
            <a href="{% url 'course' course.id %}" style="text-decoration: none;">
                <div class="card bg-secondary mb-3" style="max-width: 20rem;">
                  <div class="card-body">
                    <h4 class="card-title">{{course}}</h4>
                  </div>
                </div>
            </a>
          </div>
          {% endfor %}
          {% else %}
          <h2>bye</h2>
          {% endif %}
         
          </div>
        </div>
    </div>
  
</body>
</html>


